@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.chat {
  border: 1px solid #ccc;
  border-radius: $border-radius;
  height: 350px;
  margin: 5px;
  font-size: 13px;
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex: 0 0 calc(50% - 10px);
    display: flex;
    flex-direction: column;
  }

  @include breakpoint(large) {
    flex: 0 0 calc(25% - 10px);
  }
}
