@import '../../styles/_variables.scss';

.chat {
  &__header {
    display: flex;
    background-color: #a2a2a2;
    color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 6px;
  }

  &__title {
    flex: 1;
  }

  &__count {
    flex: 0 0 4em;
    text-align: right;
  }
}
