@import '../../styles/_variables.scss';

.chat {
  &__header {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 $border-radius $border-radius;
    padding: 6px;
  }

  &__title {
    flex: 1;
  }

  &__count {
    flex: 0 0 4em;
    text-align: right;
  }
}
