.Chat {
  &__header {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    padding: 6px;
  }

  &__title {
    flex: 1;
  }

  &__count {
    flex: 0 0 4em;
    text-align: right;    
  }
}
