@import '../../styles/_variables.scss';

.chat {
  &__input {
    display: flex;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-radius: 0 0 $border-radius $border-radius;
    padding: 4px;

    .input-container {
      flex: 1;
    }

    .button-container {
      flex: 0 0 6em;
    }
    input {
      padding: 10px 8px;
      background: #fff;
    }
    button {
      cursor: pointer;
      background-color: transparent;
      padding: 0;
    }
    input, button {
      border: 0;
      border-radius: $border-radius;
      height: 100%;
      outline: none;
      width: 100%;
    }
  }
}
