.Chat {
  &__input {
    display: flex;
    background: #ccc;
    border-top: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    flex: 0 0 30px;

    .input-container {
      flex: 1;
      margin: 1px;
    }

    .button-container {
      flex: 0 0 6em;
      margin: 1px 1px 1px 0;
    }
    input {
      padding: 0 0 0 4px;
    }
    button {
      cursor: pointer;
    }
    input, button {
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ccc;
      font-size: inherit;
      height: 100%;
      outline: none;
      width: 100%;
    }
  }
}
