@import '../../styles/_variables.scss';

.chat__message {
  line-height: 1.5em;
  float: left;
  text-align: left;
  clear: both;
  max-width: 70%;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: $border-radius;
  background-color: #fff;
  word-wrap: break-word;
  word-break: break-all;

  &--log {
    color: #888;
    background-color: transparent;
    float: none;
    text-align: center;
    max-width: 100%;
  }

  &--author {
    font-weight: bold;
    margin: 0 5px 0 0;
  }

  &--me {
    float: right;
    background-color: #f3ffce;
  }

  &--me &--author{

  }
}
